<div class="container">
		<div class="row">
			<% @artist.each do |i| %>
			<div class="col-md-4 col-sm-6 thumbnail">
				<img src="<%= i.image_url %>" style="width:100%">
				<h3 class="text-center"><%= i.name %></h3>
				<a type="button" href="/artists/<%= i.id %>" class="btn btn-primary btn-block">Ver más</a>
			</div>
			<% end %>
		</div>
</div>